@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham Book";
  src: url("https://www.example.com/assets/fonts/Gotham-Book.eot"),
    url("https://www.example.com/assets/fonts/Gotham-Book.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.example.com/assets/fonts/Gotham-Book.woff2")
      format("woff2"),
    url("https://www.example.com/assets/fonts/Gotham-Book.woff") format("woff"),
    url("https://www.example.com/assets/fonts/Gotham-Book.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Gotham Book", sans-serif;
}
