@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@font-face {
  font-family: "Gotham Book";

  src: url("../GothamBook.ttf");
  src: url("https://www.example.com/assets/fonts/Gotham-Book.eot"),
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Gotham Book", sans-serif;
}

*/
